body {
    font-family: 'Arial', sans-serif;
}

.hero {
    background: url(bc.jpg) no-repeat center center/cover;
    height: 60vh;
}

.navbar-brand {
    font-weight: bold;
    font-size:larger;
    font-style: italic;
}



footer {
    background-color: #343a40;
}